<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    

</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse-navbar-collapse" id="navbarNavAltMarkup" >
            <div class="navbar-nav" class="ml-auto">
              <a class="nav-link active" aria-current="page" href="info.html">Home</a>
              <a class="nav-link" href="/profile">Profile</a>
              <a class="nav-link" href="/logout">Sign Out</a
              >
            </div>
          </div>
        </div>
      </nav>
    
    <header>
      <h1 class="Banner">
        Esports Lounge</h1>
    </header>
    <div>
        <h3 class= info1>
          Lounge Info 
        </h3>
        <div class = info2>
          <p>
            Lounge Hours: 8:00am - 10:00pm
            <br>
            Pricing: $100 per minute
          </p>
        </div>
    
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>
