<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <form method="POST">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Sign Up</h2>
                        </div>
                        <div class="card-body">
                            <form action="/SignUp" method="post">
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password:</label>
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
                                </div>
                                <% if (typeof emailError !== "undefined" && emailError) { %>
                                    <p class="error"  style="color: red;">
                                        Invalid email format
                                    </p>
                                <% } %>
                                <% if (typeof passwordError !== "undefined" && passwordError) { %>
                                    <p class="error"  style="color: red;">
                                        Passwords do not match
                                    </p>
                                <% } %>
                                <% if (typeof emailExistsError !== "undefined" && emailExistsError) { %>
                                    <p class="error"  style="color: red;">
                                        PEmail address is already in use. Please use a different email.
                                    </p>
                                    
                                <% } %>

                                <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                            </form>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        
    </form>
</body>
</html>


